/* ____________________________________________________________________
---------------------    Responsive Layout 2.0    ---------------------
----------------------------------------------------------------------- */
/*------------    Defaults    ------------*/
*,
*:before,
*:after,
hr {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
}

body {
  font-family: 'Lato', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}



/*------------    Navigation    ------------*/
#main-nav {
  text-align: center;
  background: #7ea2e6;
  box-shadow: 0 5px 15px #A7BFE8;
}

.name {
  padding: 10px 0;
  color: #353535;
}

#nav-sections {
  padding: 7px 0;
}

.nav-section {
  font-size: 1.45em;
  font-weight: 400;
  padding: 5px 0;
}

#main-nav a,
.nav-section_2 a {
  color: #353535;
}

/*------------    Profile    ------------*/
#profile {
  text-align: center;
  margin-bottom: 40px;
}

.profile-pic {
  margin-top: 40px;
  width: 72%;
  border-radius: 5px;
  max-width: 290px;
}

#profile p {
  width: 90%;
  margin: 15px auto 0 auto;
  line-height: 1.35;
  max-width: 380px;
  text-align: justify;
}


/*--- Separators ---*/
.separator {
  border-top: 1px solid rgb(101, 101, 129);
  width: 90%;
  margin: 0 auto;
  max-width: 500px;
}
/*--- Section Titles ---*/
.section-title {
  font-size: 1.9em;
}


/*------------    Portfolio    ------------*/
#portfolio {
  width: 90%;
  margin: 40px auto;
  text-align: center;
}

/*-------   Projects   -------*/
.project {
  margin: 20px auto 0 auto;
  border: 1px solid rgba(168, 168, 168, 0.418);
  background-color: rgba(168, 168, 168, 0.045);
  border-radius: 5px;
  padding: 10px 10px 20px 10px;
  width: 272px;
  height: 300px;
}

.project-pic {
  width: 100%;
  border-radius: 4px;
}

.project-title {
  font-weight: 400;
  font-size: 1.5em;
  margin-top: 15px;
}

.project-text {
  margin-top: 10px;
  font-size: 0.91em;
  line-height: 1.25;
}



/*------------    Bio & Contact Containers    ------------*/
#bio,
#contact {
  width: 90%;
  text-align: center;
  margin: 40px auto 0 auto;
}

/*----------   Bio   ----------*/
#bio p {
  margin-top: 22px;
  line-height: 1.35;
  font-style: italic;
}

/*----------   Contact   ----------*/
.contact-intro {
  margin-top: 22px;
  line-height: 1.35;
}

/*-----  Phone & Email  -----*/
.contact-phone,
.contact-email {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-phone {
  margin: 30px auto 0 auto;
}
.contact-email {
  margin: 15px auto 0 auto;
}

/*- Icons -*/
.contact-phone img,
.contact-email img {
  width: 15px;
  height: 15px;
}

/*- Text -*/
.contact-phone p,
.contact-email p,
.contact-phone a,
.contact-email a {
  padding-left: 5px;
}



/*------------    Footer Menu    ------------*/
footer {
  margin-top: 50px;
  padding: 30px 4%;
  border-top: 1px solid rgba(168, 168, 168, 0.418);
  display: flex;
  justify-content: space-between;
}

footer h4,
.nav-section_2 {
  color: #353535;
  font-size: 1.2em;
  font-weight: 400;
}

#nav-sections_2,
#nav-sections_2 * {
  display: none;
}
























































/* ____________________________________________________________
---------------------    Media Queries    ---------------------
--------------------------------------------------------------- */
/*__________________________________
------------  MOBILE L  ------------
------------------------------------*/
@media all and (min-width: 425px) {
  /*----  Portfolio_Projects ----*/
  .project {
    margin-top: 30px;
    padding: 12px 12px 20px 12px;
    width: 300px;
    height: 340px;
  }
  .project-title {
    margin-top: 25px;
  }
  .project-text {
    margin-top: 15px;
  }
}



/*___________________________________
------------  MOBILE XL  ------------
-------------------------------------*/
@media all and (min-width: 545px) {
  /*----  Navigation ----*/
  #main-nav {
    padding-bottom: 10px;
  }
  .name {
    padding: 20px 0;
  }
  #nav-sections {
    padding: 0;
    display: flex;
    justify-content: space-between;
    width: 83%;
    max-width: 500px;
    margin: auto;
  }
  .nav-section {
    padding: 5px 10px;
  }

  /*----  Profile ----*/
  .profile-pic {
    max-width: 380px;
  }
  #profile p {
    font-size: 1.04em;
    max-width: 440px;
  }

  /*--- Section Titles ---*/
  .section-title {
    font-size: 2em;
  }

  /*----  Portfolio  ----*/
  /*-- Projects --*/
  .project-title {
    font-size: 1.6em;
  }
  .project-text {
    font-size: 1.01em;
    line-height: 1.3;
  }

  /*----  Bio & Contact  ----*/
  #bio p,
  .contact-intro,
  .contact-phone p,
  .contact-email p,
  .contact-phone a,
  .contact-email a {
    font-size: 1.01em;
  }

  /*----  Footer Menu  ----*/
  footer h4 {
    font-size: 1.3em;
  }
}



/*___________________________________
-----------  MOBILE XXL  ------------
-------------------------------------*/
@media all and (min-width: 700px) {
  /*----  Profile ----*/
  #profile p {
    max-width: 510px;
  }

  /*----  Portfolio  ----*/
  .projects-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 650px;
    margin: auto;
  }
  /*-- Projects --*/
  .project {
    margin: 30px 0 0 0;
  }
}



/*__________________________________
------------   TABLET   ------------
------------------------------------*/
@media all and (min-width: 768px) {
  /*----  Profile ----*/
  #profile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    max-width: 860px;
    margin: 40px auto;
  }
  .profile-pic {
    width: 48%;
    margin: 0;
  }
  #profile p {
    width: 48%;
    max-width: 410px;
    margin: 0;
    font-size: 1.2em;
    line-height: 1.4;
  }

  /*----  Portfolio  ----*/
  /*-- Projects --*/
  .project-title {
    font-size: 1.63em;
  }
  .project-text {
    font-size: 1.03em;
  }

  /*----  Bio & Contact  ----*/
  #bio p {
    margin: 22px auto 0 auto;
    font-size: 1.03em;
    line-height: 1.4;
    max-width: 785px;
  }
  .contact-intro {
    margin: 22px auto 0 auto;
    width: 510px;
    font-size: 1.03em;
  }
  .phone-email-wrapper {
    display: flex;
    justify-content: space-between;
    margin: 30px auto 0 auto;
    width: 500px;
  }

  /*-----  Phone & Email  -----*/
  .contact-phone,
  .contact-email {
    width: fit-content;
    margin: 0;
  }
  .contact-phone p,
  .contact-email p,
  .contact-phone a,
  .contact-email a {
    font-size: 1.03em;
  }

  /*----  Footer Menu  ----*/
  footer h4,
  .nav-section_2 {
    font-size: 1.4em;
  }
  .back-to-top,
  .back-to-top * {
    display: none;
  }
  /*Nav container 2*/
  #nav-sections_2 {
    display: flex;
    justify-content: space-between;
    width: 50%;
    max-width: 388px;
  }
  #nav-sections_2 * {
    display: block;
  }
}


















































/*____________________________________
------------   TABLET L   ------------
--------------------------------------*/
@media all and (min-width: 888px) {
  body {
    /* background-color: orange; */
  }
  /*----  Navigation ----*/
  #main-nav {
    /* text-align: center;
    background: #7ea2e6;
    box-shadow: 0 5px 15px #A7BFE8;
    padding-bottom: 10px; */
    height: 110px;
    padding: 0;
    padding-left: 2.5%;
    padding-right: 2.5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .name {
    /* padding: 20px 0;
    color: #353535; */
    padding: 0;
    font-size: 2.05em; /*BEFORE: 2em*/
  }
  #nav-sections {
    /* padding: 0;
    display: flex;
    justify-content: space-between;
    width: 83%;
    max-width: 500px;
    margin: auto; */
    margin: 0;
    width: 400px;
  }  
  .nav-section {
    /* font-size: 1.45em;
    font-weight: 400;
    padding: 5px 10px; */
    padding: 0;
    font-size: 1.55em;
  }
  #main-nav a {
    /* color: #353535; */
  }

  /*----  Profile ----*/
  #profile {
    /* text-align: center;
    margin: 40px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    max-width: 860px; */
  }
  .profile-pic {
    /* margin: 0;
    width: 48%;
    border-radius: 5px;
    max-width: 380px; */
  }
  #profile p {
    /* width: 48%;
    margin: 0;
    line-height: 1.4;
    max-width: 410px;
    font-size: 1.2em; */
  }
  /*--- Section Titles ---*/
  .section-title {
    font-size: 2.05em
  }






  /*--- Separators ---*/
  .separator {
    width: 65%;
    max-width: 730px;
  }






  /*----  Portfolio  ----*/
  .projects-container {
    margin-top: 14px;
    max-width: 800px;
  }




  /*-- Projects --*/
  .project {
    padding: 10px;
    margin: 16px 0 0 0;
    width: 250px;
    height: 290px;
  }


  
  .project-title {
    font-size: 1.46em;
    margin-top: 15px;
  }



  .project-text {
    margin-top: 10px;
    font-size: 0.93em;
  }


  /*----  Footer Menu  ----*/
  footer h4,
  .nav-section_2 {
    font-size: 1.5em;
  }









}



/*****************************************************************************------ MARKER*/







/*____________________________________________
------------   NEXT BREAK POINT   ------------
----------------------------------------------*/
@media all and (min-width: 1000px) {
  body {
    /* background-color: orange; */
  }
  /*----  Navigation ----*/
  #main-nav {
    /* text-align: center;
    background: #7ea2e6;
    box-shadow: 0 5px 15px #A7BFE8;
    height: 110px;
    padding: 0;
    padding-left: 2.5%;
    padding-right: 2.5%;
    display: flex;
    justify-content: space-between;
    align-items: center;*/
  }
  .name {
    /* padding: 0;
    color: #353535;
    font-size: 2.05em; */
  }
  #nav-sections {
    /* padding: 0;
    display: flex;
    justify-content: space-between;
    width: 400px;
    max-width: 500px;
    margin: 0; */
  }  
  .nav-section {
    /* font-size: 1.55em;
    font-weight: 400;
    padding: 0; */
  }
  #main-nav a {
    /* color: #353535; */
  }

  /*----  Profile ----*/
  #profile {
    /* text-align: center;
    margin: 40px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    max-width: 860px; */
  }
  .profile-pic {
    /* margin: 0;
    width: 48%;
    border-radius: 5px;
    max-width: 380px; */
  }
  #profile p {
    /* width: 48%;
    margin: 0;
    line-height: 1.4;
    max-width: 410px;
    font-size: 1.2em; */
  }
  /*--- Section Titles ---*/
  .section-title {
    /* font-size: 2.05em */
  }
  /*--- Separators ---*/
  .separator {
    /* border-top: 1px solid rgb(101, 101, 129);
    width: 65%;
    margin: 0 auto;
    max-width: 730px; */
  }
  /*----  Portfolio  ----*/
  #portfolio {
    /* width: 90%; */
    /* margin: 40px auto; */
    /* text-align: center; */
    /* border: 1px solid rgb(68, 15, 15); */
  }
  .projects-container {
    /* display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 800px;
    margin: auto;
    margin-top: 14px;*/
  }

  /*-- Projects --*/
  .project {
    /* margin: 16px 0 0 0; */
    /* border: 1px solid rgba(168, 168, 168, 0.418); */
    /* background-color: rgba(168, 168, 168, 0.045); */
    /* border-radius: 5px; */
    /* padding: 12px 12px 20px 12px; */
    /* width: 250px; */
    /* height: 290px; */
  }
  .project-pic {
    /* width: 100%; */
    /* border-radius: 4px; */
  }
  .project-title {
    /* font-weight: 400; */
    /* font-size: 1.46em; */
    /* margin-top: 15px; */
  }
  .project-text {
    /* line-height: 1.3; */
    /* margin-top: 10px;
    font-size: 0.93em; */
  }

  /*----  Bio & Contact  ----*/
  #bio p {
    /* margin: 22px auto 0 auto;
    line-height: 1.4;
    font-style: italic;
    font-size: 1.03em;
    max-width: 785px; */
  }
  #contact {
    /* border: 1px solid black; */
  }
  .contact-intro {
    /* margin: 22px auto 0 auto;
    line-height: 1.35;
    width: 510px; */
  }
  .phone-email-wrapper {
    /* display: flex;
    justify-content: space-between;
    margin: 30px auto 0 auto;
    width: 500px; */
  }
  /*-----  Phone & Email  -----*/
  .contact-phone,
  .contact-email {
    /* width: 80%;
    display: flex;
    justify-content: center;
    align-items: center; */
    /* width: fit-content;
    margin: 0; */
  }
  .contact-phone {
    /* margin: 30px auto 0 auto; */
    /* margin: 0; */
  }
  .contact-email {
    /* margin: 15px auto 0 auto; */
    /* margin: 0; */
  }
  /*- Icons -*/
  .contact-phone img,
  .contact-email img {
    /* width: 15px;
    height: 15px; */
  }
  .contact-phone p,
  .contact-email p,
  .contact-phone a,
  .contact-email a {
    /* padding-left: 5px; */
    /* font-size: 1.03em; */
  }

  /*----  Footer Menu  ----*/
  footer {
    /* margin-top: 50px;
    padding: 30px 4%;
    border-top: 1px solid rgba(168, 168, 168, 0.418);
    display: flex;
    justify-content: space-between; */
  }
  footer h4,
  .nav-section_2 {
    /* color: #353535;
    font-size: 1.5em;
    font-weight: 400; */
  }
  .back-to-top,
  .back-to-top * {
    /* display: none; */
  }
  #nav-sections_2,
  #nav-sections_2 * {
    /* display: block; */
  }
  /*Nav container*/
  #nav-sections_2 {
    /* display: flex;
    justify-content: space-between;
    width: 50%;
    max-width: 388px; */
  }
}





















