/* ____________________________________________________________________
---------------------    Responsive Layout 2.0    ---------------------
----------------------------------------------------------------------- */
/*------------    Defaults    ------------*/
*,
*:before,
*:after,
hr {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
}

body {
  font-family: 'Lato', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}



/*------------    Navigation    ------------*/
#main-nav {
  text-align: center;
  background: #7ea2e6;
  box-shadow: 0 5px 15px #A7BFE8;
}

.name {
  padding: 10px 0;
  color: #353535;
}

#nav-sections {
  padding: 7px 0;
}

.nav-section {
  font-size: 1.45em;
  font-weight: 400;
  padding: 5px 0;
}



/*------------    Profile    ------------*/
#profile {
  text-align: center;
  margin-bottom: 40px;
}

.profile-pic {
  margin-top: 40px;
  width: 72%;
  border-radius: 5px;
  max-width: 290px;
}

#profile p {
  width: 90%;
  margin: 15px auto 0 auto;
  line-height: 1.35;
  max-width: 380px;
}


/*--- Separators ---*/
.separator {
  border-top: 1px solid rgb(101, 101, 129);
  width: 90%;
  margin: 0 auto;
}
/*--- Section Titles ---*/
.section-title {
  font-size: 1.9em;
}


/*------------    Portfolio    ------------*/
#portfolio {
  width: 90%;
  margin: 40px auto;
  text-align: center;
}

.projects-container {
  /* This will be used for FlexBox*/
}

/*-------   Projects   -------*/
.project {
  margin: 20px auto 0 auto;
  border: 1px solid rgba(168, 168, 168, 0.418);
  background-color: rgba(168, 168, 168, 0.045);
  border-radius: 5px;
  padding: 10px 10px 20px 10px;
  width: 272px;
  height: 300px;
}

.project-pic {
  width: 100%;
  border-radius: 4px;
}

.project-title {
  font-weight: 400;
  font-size: 1.5em;
  margin-top: 15px;
}

.project-text {
  margin-top: 10px;
  font-size: 0.91em;
  line-height: 1.25;
}



/*------------    Bio & Contact Containers    ------------*/
#bio,
#contact {
  width: 90%;
  text-align: center;
  margin: 40px auto 0 auto;
}

/*----------   Bio   ----------*/
#bio p {
  margin-top: 22px;
  line-height: 1.35;
  font-style: italic;
}

/*----------   Contact   ----------*/
.contact-intro {
  margin-top: 22px;
  line-height: 1.35;
}

/*-----  Phone & Email  -----*/
.contact-phone,
.contact-email {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-phone {
  margin: 30px auto 0 auto;
}
.contact-email {
  margin: 15px auto 0 auto;
}

/*- Icons -*/
.contact-phone img,
.contact-email img {
  width: 15px;
  height: 15px;
}

/*- Text -*/
.contact-phone p,
.contact-email p,
.contact-phone a,
.contact-email a {
  padding-left: 5px;
}



/*------------    Footer Menu    ------------*/
footer {
  margin-top: 50px;
  padding: 30px 4%;
  border-top: 1px solid rgba(168, 168, 168, 0.418);
  display: flex;
  justify-content: space-between;
}

footer h4 {
  color: #353535;
  font-size: 1.2em;
  font-weight: 400;
}
























































/* ____________________________________________________________
---------------------    Media Queries    ---------------------
--------------------------------------------------------------- */
/*__________________________________
------------  MOBILE L  ------------
------------------------------------*/
@media all and (min-width: 425px) {
  /*----  Portfolio_Projects ----*/
  .project {
    margin-top: 30px;
    padding: 12px 12px 20px 12px;
    width: 300px;
    height: 340px;
  }
  .project-title {
    margin-top: 25px;
  }
  .project-text {
    margin-top: 15px;
  }
}



































































/* ___________________________________
-------------  NEXT BREAK POINT  -------------
-------------------------------------- */
@media all and (min-width: 1000px) {
  /*----  Portfolio  ----*/
  #portfolio {
    /* width: 90%; */
    /* margin: 40px auto; */
    /* text-align: center; */
  }
  .projects-container {
    /* This will be used for FlexBox*/
  }
  /*-- Projects --*/
  .project {
    /* margin: 30px auto 0 auto; */
    /* border: 1px solid rgba(168, 168, 168, 0.418); */
    /* background-color: rgba(168, 168, 168, 0.045); */
    /* border-radius: 5px; */
    /* padding: 12px 12px 20px 12px; */
    /* width: 300px; */
    /* height: 340px; */
  }
  .project-pic {
    /* width: 100%; */
    /* border-radius: 4px; */
  }
  .project-title {
    /* font-weight: 400; */
    /* font-size: 1.5em; */
    /* margin-top: 25px; */
  }
  .project-text {
    /* margin-top: 10px; */
    /* margin-top: 15px; */
    /* font-size: 0.91em; */
    /* line-height: 1.25; */
  }
}

